<?xml version="1.0"?>
<ruleset name="MRN Podcaster">
	<description>WordPress coding standards for MRN Podcaster.</description>
	<file>mrn-podcaster.php</file>
	<file>includes</file>
	<file>templates</file>
	<file>uninstall.php</file>
	<exclude-pattern>vendor/*</exclude-pattern>
	<arg name="extensions" value="php"/>
	<arg value="sp"/>
	<rule ref="WordPress">
		<exclude name="WordPress.Files.FileName.InvalidClassFileName"/>
	</rule>
	<rule ref="PHPCompatibilityWP"/>
	<config name="testVersion" value="8.1-"/>
	<ini name="error_reporting" value="E_ALL"/>
</ruleset>
